div.rule_systems {
	width:100%;
}

div.panel img {
	max-width:100px;
	max-height:100px;
	margin-right:25px;
	float:left;
}

div.panel img.topdown {
	transform:rotate(180deg);
}

div.content div.panel-heading {
	font-weight:bold;
}

div.content div.panel-heading a {
	float:right;
	margin-left:15px;
}

div.content div.panel-body {
	height:130px;
}

div.content div.panel-body div:nth-of-type(n+6) {
	display:none;
}

div.content div.panel-footer {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

div.content div.panel-footer span {
	font-style:italic;
}

div.rule_system {
	font-style:italic;
}

span.input-group-btn label {
	padding:6px 25px;
}

form img.token {
	display:block;
	max-width:100%;
}

form img.topdown {
	transform:rotate(180deg);
}

@media (min-width:768px ) {
	form img.token {
		float:right;
		max-width:250px;
	}
}

div.radio-group {
	margin-bottom:5px;
}

div.radio-group span {
	margin-right:25px;
}

div.radio-group span input {
	margin-right:5px;
}

span.select {
	display:none;
	color:#ff0000;
}

select.btn {
	height:34px;
}

/* Alternates
 */
div.alternates {
	margin-bottom:50px;
}

div.alternate {
	width:100px;
	height:220px;
}

div.alternate img.token {
	width:100%;
}

div.alternate img.token.topdown {
	transform:rotate(180deg);
}

div.alternate span {
	display:block;
	text-align:center;
}

div.alternate input.btn {
	width:100%;
}

/* Weapons
 */
table.weapons th:nth-child(3) {
	width:150px;
}
