table.table th:first-child {
	width:50px;
}

table.table th:nth-child(3) {
	width:200px;
}

table.table th:nth-child(4) {
	width:80px;
}

table.table th:nth-child(5) {
	width:80px;
}

table.table th:nth-child(6) {
	width:100px;
}

textarea.form-control {
	height:150px;
}

ul.browse-list {
	padding-left:15px;
}

ul.browse-list li:hover {
	cursor:pointer;
	background:#ffffa0;
}

/* Market
 */
div.panel div.panel-footer span:after {
	content:"|";
	margin:0 15px;
	color:#337ab7;
}

div.panel div.panel-footer span:last-of-type:after {
	content:none;
	margin:0;
}

@media (min-width:768px) {
	div.panel div.panel-footer form {
		display:inline-block;
		float:right;
	}
}

@media (max-width:767px) {
	div.panel div.panel-footer form {
		text-align:right;
	}

	table.table th:nth-child(3),
	table.table td:nth-child(3) {
		display:none;
	}
}

@media (max-width:550px) {
	table.table th:nth-child(4),
	table.table td:nth-child(4) {
		display:none;
	}
}

div.market div.adventure div.panel-body {
	height:150px;
	overflow:auto;
}

div.filter {
	text-align:right;
}

div.filter select {
	display:inline-block;
	width:200px;
	margin-left:5px;
}

div.token_selector div span {
	display:block;
	padding-top:8px;
}

div.token_selector div:nth-child(1),
div.token_selector div:nth-child(2) {
	font-weight:bold;
	font-size:16px;
	padding-bottom:2px;
	border-bottom:1px solid #808080;
	margin-bottom:8px;
}
